body.day {
  background: linear-gradient(#87ceeb, #ffffff);
  color: #222;
}

.day .accent {
  color: #ff9800;
}
body.day .name-title {
  text-shadow:
    0 0 10px rgba(255,165,0,0.6);
}
body.day .social-card {
  background: rgba(255, 255, 255, 0.8);
}

body.day .contact-form button {
  background: orange;
  color: white;
}

