body.night {
  background: linear-gradient(#0b132b, #000);
  color: #eee;
}

.night .accent {
  color: #64ffda;
}

.night .project {
  box-shadow: 0 0 25px rgba(100,255,218,0.4);
}

body.night .name-title {
  text-shadow:
    0 0 10px #64ffda,
    0 0 30px #64ffda;
}
body.night .social-card {
  background: rgba(20, 30, 60, 0.6);
  color: #64ffda;
}

body.night .contact-form button {
  background: #64ffda;
  color: black;
}
